.Weather {
  border: 1px solid #dadde1;
  border-radius: 4px;
  background: linear-gradient(
    69.5deg,
    rgb(1, 179, 201) 2.7%,
    rgb(255, 199, 89) 97.2%
  );
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 16px;
}

.Weather h1 {
  font-weight: 500;
  font-size: 34px;
  margin: 20px 0 0 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  list-style: none;
}
.Weather canvas {
  margin: 10px auto;
  display: inline-block;
}

.Weather .temperature {
  font-size: 70px;
  line-height: 64px;
  font-weight: 500;
}

.Weather .unit {
  font-size: 16px;
  position: relative;
  top: -38px;
  line-height: 1;
}
